# virtualenv
.venv/
venv/

#media (manim output)
.media/
media/

# pyenv
.python-version

# Python cache
__pycache__/
*.py[cod]

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# mypy / type checkers
.mypy_cache/
.pytype/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log

# environment variables
.env
.agent/